{% extends "layout.html" %}

{% block title %}
    Quiénes Somos
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>Preguntas Recurrentes</h1>
        
                <section>
                    <h2>¿Qué es Inventech?</h2>
                    <p>Inventech es una plataforma web centrada en proporcionar una solución para gestionar inventarios. Con objetivos claros como simplificar la gestión de productos, mejorar la precisión en el seguimiento de inventarios y proporcionar análisis detallados para la toma de decisiones.</p>
                </section>
        
                <section>
                    <h2>¿Para qué se usa Inventech?</h2>
                    <p>Inventech se utiliza para asegurarse de que una empresa tenga suficientes productos disponibles para satisfacer la demanda de los clientes. Ayuda a planificar las compras, gestionar el almacenamiento y prevenir la escasez o el exceso de productos, así como a simplificar el proceso de gestión de productos mediante una interfaz amigable y fácil de usar. Mejora la precisión y reduce los errores en el manejo de inventarios.</p>
                </section>
        
                <section>
                    <h2>¿Cuál es el objetivo de Inventech?</h2>
                    <p>El objetivo de Inventech es asegurar que haya suficientes productos disponibles para satisfacer la demanda de los clientes, al tiempo que se minimizan los costos asociados con el almacenamiento y la gestión de inventario.</p>
                </section>
            </div>
            <div class="col-md-4">
                <img src="static/big_inventech.png" alt="Equipo de FuturaLib" class="img-fluid">
            </div>
        </div>
    </div>
{% endblock %}
